<div id = "page">
  <h2> <%= pluralize(@messages.size, ' unread message') %></h2> 
  <div style = "overflow:scroll; height:800px">
    <div id="messages">
      <h3> <%= render @messages %></h3>
    </div>
  </div>
 </div>
