<h1> All messages</h1>
<% @messages.each do |message| %>
  <li>
    <%= message.phone_number%>
    <%= message.content %>
    <%= button_to "Destroy", {:controler=>"messages",:action=>"destroy",:id=>message.id} %>
  </li>
<% end %>
